.map{
	margin-top: 5rem;
    margin-left: 0;
    height: calc(100vh - 5rem);
	width: 100vw;
	z-index: 8;
}

@media screen and (min-width: 600px) {

    .map{
        height: 100vh;
        width: calc(100vw - 5rem);
        margin-left: 5rem;
        margin-top: 0;
        z-index: 8;
    }

}