---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Title from '../components/Title.astro';
import { SITE_TITLE } from '../config';
---

<DefaultLayout>
	<div class="title"><Title title="Location" /></div>
</DefaultLayout>
