---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Title from '../components/Title.astro';
---

<DefaultLayout>
	<div class="title"><Title title="Photos" /></div>
</DefaultLayout>
