---

import type { Photo } from "../types";
import { PHOTO_LIST } from "../config";
import '../styles/masonry.css';

---

<div class="masonry">
    {
        PHOTO_LIST.map( (picture : Photo) => (
            <div class="item" onclick="this.classList.toggle('selected')">
                    <img src={picture.path} alt={picture.alt} />
            </div>    
        ))
    }
</div>

